

.footer {
    --nav-bar-bg-color: #84c4f4;
    background-color: var(--nav-bar-bg-color);
    color: var(--body-text-color);
    margin-top: 1rem;
  
}

.footer-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* .left-align-section,
.right-align-section {
  flex: 1 1 100%;
  margin: 5px 0;
} */

.left-align-section {
  text-align: left;
  padding-left: 10px;
}

.right-align-section {
  text-align: right;
  padding-right: 10px;
}

.footer-section p {
  margin: 0;
  font-size: 0.875rem;
}

/* Less than Laptop layout */
@media (max-width: 1024px) {
    .right-align-section {
        display: none;
    }
}

/* Desktop layout */
@media (min-width: 768px) {
  .footer-section {
    flex-direction: row;
  }

  .left-align-section,
  .right-align-section {
    flex: 1;
    margin: 0;
  }

  .left-align-section {
    text-align: left;
    padding-left: 10px;
  }

  .right-align-section {
    text-align: right;
    padding-right: 10px;
  }
}